{% sw_extends '@Storefront/storefront/base.html.twig' %}
{% block base_content %}
    {% block article_layout %}
        <div class="col-12 order-2 col-sm order-sm-1 header-search-col">
            <div class="row">
                <div class="col-sm-auto">
                    {% sw_include '@JsTestPlugin/storefront/page/fastorder/article-search.html.twig' %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
